*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 0;
    flex-direction: column;
    gap: 1rem;
}

.linkCrear{
    text-decoration: none;
    font-weight: bold;
    color: #169b05;
    border: 2px solid #169b05;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.linkCrear:hover{
    background: #169b05;
    color: #fff;
}

form{
    width: 40%;
    margin: 20px auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer{
    position: relative;
    width: 100%;
}

.inputContainer input{
    border: 0;
    border-bottom: 1px solid #121212;
    outline: none;
    padding: 5px;
    width: 100%;
}

.inputContainer label{
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 1rem;
    transition: top .5s ease-in-out;
    cursor: text;
}

.inputContainer input::placeholder{
    color: transparent;
}

.inputContainer input:not(:placeholder-shown) ~ label,
.inputContainer input:focus ~ label{
    top: -6px;
    left: 3px;
    font-size: .7rem;
    color: #000;
}

.inputContainer input:focus ~ label{
    top: -6px;
    left: 3px;
    font-size: .7rem;
    color: #003cff;
}

form button{
    width: 100%;
    padding: .5rem 1rem;
    border: 2px solid #003cff;
    background: #fff;
    cursor: pointer;
    color: #003cff;
    font-weight: bolder;
    transition: all .5s ease-in-out;
}

form button:hover{
    background-color: #003cff;
    color: #fff;
}

table{
    min-width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #003cff;
}

th{
    padding: .5rem 0;
    color: #fff;
    font-weight: bolder;
}

td{
    padding: .5rem .5rem;
    text-align: center;
}

tbody tr{
    border-bottom: 1px solid #757575;
}

td a{
    text-decoration: none;
    color: #003cff;
    border: 2px solid #003cff;
    padding: .2rem .5rem;
    font-weight: bolder;
    transition: all .5s ease-in-out;
}

td a:hover{
    color: #fff;
    background-color: #003cff;
}

td:has(a){
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.eliminar{
    text-decoration: none;
    color: red;
    border: 2px solid red;
    padding: .2rem .5rem;
    font-weight: bolder;
    transition: all .5s ease-in-out;
}

td .eliminar:hover{
    color: #fff;
    background-color: red;
}

/* Modal */

.hideModal {
    display: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}

.showModal{
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    width: 40%;
    min-width: 300px;
    height: 30%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    padding: 3rem 0;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 50px;
}

.contentModal{
    font-size: 3.5rem;
    width: 80%;
    text-align: center;
}

.footerModal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    position: absolute;
    bottom: 1rem;
    gap: 2rem;
}


.footerModal a{
    background: #169b05;
    color: #fff;
    padding: .8rem 3rem;
    border-radius: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.footerModal a:hover,
.footerModal button.cancelar:hover{
    filter: brightness(50%);
}

.footerModal button.cancelar{
    background-color: red;
    border: 2px solid red;
    color: #fff;
    padding: .8rem 3rem;
    border-radius: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}